* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background: $colorBase;
  color: $colorSupport;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
}
